apiVersion: v1
kind: Secret
metadata:
  name: github-gitops-creds
  namespace: eos-platform
  labels:
    kargo.akuity.io/cred-type: git
type: Opaque
stringData:
  # URL do repositório privado (suporta wildcards)
  repoURL: "https://github.com/alvaroico/*"
  username: "alvaroico"
  password: "ghp_SEU_GITHUB_PERSONAL_ACCESS_TOKEN" # Permissão: repo
